.homepageContainerMain {
  position: relative;
  display:flex;
  flex-direction: column;
  height:100%;
  z-index: 1;
}
.mainSmText {
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;    
  max-height: 140px;    
  -webkit-line-clamp: 4; /* Write the number of 
                            lines you want to be 
                            displayed */
  -webkit-box-orient: vertical;
}
.homepageContainer {
  position: relative;
  top:0;
  width: 100vw;
  height: 92vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 1;
}

.img {
  height:100%;
  width:58% !important;
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  filter: brightness(90%);
}
.mainContainer {
  padding:40px;
  width: 42%;
  background-color:#F8F8F8;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
}
.mainContainer a {
  color:black;
  text-decoration: none;
}
.mainContainer a:hover {
  color:#0A95FF;
  text-decoration: underline;
}
.homepageContainer video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.homepageOverlay {
	position: absolute;
	top:0;
	z-index: 2;
	background-color: rgba(0,0,0,.5);
	height:100%;
	width: 100%;
	color:white;
	padding-top: 150px;
}

.searchContainer {
	background-color: rgba(0,0,0,.5);
	display: inline-flex;
  align-items: flex-start;
  max-width: 95%;
  line-height: 100%;
  border-radius: 6px;
}
 
.searchContainer button {
  background-color: #EC7211;
}

.btn {
  background-color:#F07616;
  color:white;
}
.btn:hover, .btn:active, .btn:visited {
    background-color: #d4660f !important;
}

.rightSide {
  margin-left: 10px;
  width:30%;
}

.gridContainer {
  width:70%;
  position: relative;
  display: grid;
  grid-template-areas:
    'header header header header header'
    'left leftmid mainl mainr right';
  gap: 15px;
  padding: 15px;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.item1 {
  grid-area: header;
  height:300px;
  display: flex;
  cursor: pointer;
}
.item1:hover img {
  filter: brightness(100%);
  transition: filter 0.25s ease;  
}
.item2 { 
  grid-area: left;
  width: 100%;
}
.item3 {
  grid-area: leftmid;
 width: 100%;
}
.item4 {
  grid-area: mainl;
 width: 100%;
}
.item5 {
  grid-area: mainr;
 width: 100%;
}
.item6 {
  grid-area: right;
 width: 100%;
}

.smallContainer {
  max-width: 100%;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}
.smallContainer:hover img {
  filter: brightness(100%);
  transition: filter 0.25s ease;
}

.smallContainerDiv:hover {
  color: #0081FF;
  text-decoration: underline;
}

.smallContainer img {
  max-width: 100%;
  width: 100%;
  height: auto;
  height: 90px;
  border-radius: 6px;
  filter: brightness(90%);
}

.smallContainer img:hover{
}

